<!DOCTYPE html>
<html>
  
  <head>
    <title>Pushkar Singh</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    
    <div class="container" id="main">

      <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
               
          <a class="navbar-brand" href=""><%= image_tag("logo.png", alt: "My Logo") %></a>
                   
            <ul class="nav navbar-nav">
              <li class="active"><a href="">Home</a></li>
              <li><a href="">My Projects</a></li>
            </ul><!-- end nav left -->
                   
            <ul class="nav navbar-nav pull-right">
              <li class="logos"><a href="" data-original-title="pushkar.singh.2009@gmail.com" rel="tooltip" data-placement="left"><%= image_tag("email24.png", alt: "Email") %></a></li>
              <li class="logos"><a href="" data-original-title="91-9952000475" rel="tooltip" data-placement="bottom"><%= image_tag("phone24.png", alt: "Phone") %></a></li>
              <li class="logos"><a href="https://in.linkedin.com/in/pushkarsingh1" target=“_blank”><%= image_tag("linkedin24.png", alt: "LinkedIn") %></a></li>
              <li class="logos"><a href="https://github.com/theagilecoder" target=“_blank”><%= image_tag("github24.png", alt: "Github") %></a></li>
            </ul><!-- end nav right -->
                   
        </div><!-- end navbar container -->
      </div><!-- end navbar -->
      
      <%= yield %>
      
    </div><!-- end main container (excludes the footer) -->
    
    <hr>
        
    <footer>
      <div class="container">
        <div class="row">
                    
          <div class="col-sm-4" id="div1">
            <p><br>Copyright &copy; 2015 Pushkar Singh</p>
          </div><!-- end col-sm-4 -->
                    
          <div class="col-sm-4" id="div2">
            <p><br>About</p>
            <p>This landing page has been made using Rails v4.2 and Bootstrap v3.2 along with some overriding CSS and JQuery. Adobe&trade; Brackets was used as the IDE of choice for writing HTML5 code and Rails code was written in Cloud9&trade; IDE.</p>
          </div><!-- end col-sm-4 -->
                    
          <div class="col-sm-4" id="div3">
            <p><br>Coded with <span class="glyphicon glyphicon-heart"></span> by theagilecoder</p>
            <p><a href="https://github.com/theagilecoder/my_resume" target="_blank">Source Code</a> hosted by Github&trade;</p>
            <p>Site hosting provided by Heroku&trade;</p>
          </div><!-- end col-sm-4 -->
                    
        </div><!-- end row -->
      </div><!-- end container -->	           
    </footer><!-- end footer -->	
          
  </body>
</html>