<!DOCTYPE html>
<html>
  
  <head>
    <title>My Webpage</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    
    <div class="container" id="main">

	       <div class="navbar navbar-fixed-top navbar-default">
              
               <div class="container">
               
                   <a class="navbar-brand" href="#"><%= image_tag("logo.png", alt: "My Logo") %></a>
                   
                   <ul class="nav navbar-nav">
                       
                       <li class="active"><a href="#">Home</a></li>
                       
                       <li><a href="#">My Projects</a></li>
                        
                   </ul><!-- end nav left -->
                   
                   <ul class="nav navbar-nav pull-right">
                       
                        <li class="logos"><a href="https://in.linkedin.com/in/pushkarsingh1" target=“_blank”><%= image_tag("linkedin24.png", alt: "LinkedIn") %></a></li>
                       
                        <li class="logos"><a href="https://github.com/theagilecoder" target=“_blank”><%= image_tag("github24.png", alt: "Github") %></a></li>
                       
                   </ul><!-- end nav right -->
                   
               </div><!-- end navbar container -->
               
	       </div><!-- end navbar -->
	       
      </div><!-- end main container -->
      
  </body>
</html>